* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;
}
header {
    text-align: center;
}

.input {
    text-align: center;
}


input[type="text"]{
    height: 50px;
    width: 600px;
    background-color: #b0bec5 blue-grey lighten-3;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type="submit"]{
    height: 50px;
    width: 600px;
    background-color: #b0bec5 blue-grey lighten-3;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #b3e5fc;
}